# Updating Existing TransferMarket Webscrapper

In a previous study, I have created a webscrapper to get the transfer fees from the players over a timespan from 2000-2023. Now, we want to add the 2024 time period as well.

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..\..\src')
from PY_Class_Def import all_trans_window,trans_value

In [2]:
all_trans_window(2024)

,Player,Age,Club_Left,League_Left,Club_Joined,League_Joined,Transfer_Fee,Transfer_Window,Performance_Year
0,Kylian Mbappé,25,FC Paris Saint-Germain,Ligue 1,Real Madrid,LaLiga,ablösefrei,2024,2023
1,Victor Osimhen,25,SSC Neapel,Serie A,Galatasaray,Süper Lig,Leihe,2024,2023
2,Julián Alvarez,24,Manchester City,Premier League,Atlético Madrid,LaLiga,"75,00 Mio. €",2024,2023
3,Khvicha Kvaratskhelia,23,SSC Neapel,Serie A,FC Paris Saint-Germain,Ligue 1,"70,00 Mio. €",2024,2023
4,Xavi Simons,21,FC Paris Saint-Germain,Ligue 1,RB Leipzig,Bundesliga,"50,00 Mio. €",2024,2023
...,...,...,...,...,...,...,...,...,...
1995,Tymoteusz Puchacz,25,1.FC Union Berlin,Bundesliga,Holstein Kiel,Bundesliga,"2,00 Mio. €",2024,2023
1996,Lasso Coulibaly,21,FC Nordsjaelland,Superliga,AJ Auxerre,Ligue 1,"2,00 Mio. €",2024,2023
1997,Amath Ndiaye,27,RCD Mallorca,LaLiga,Real Valladolid,LaLiga,"2,00 Mio. €",2024,2023
1998,Fisayo Dele-Bashiru,23,Hatayspor,Süper Lig,Lazio Rom,Serie A,"Leihgebühr:2,00 Mio. €",2024,2023
1999,Jesper Karlström,29,Lech Posen,Ekstraklasa,Udinese Calcio,Serie A,"2,00 Mio. €",2024,2023

In [3]:
all_trans_df=all_trans_window(2000)
year_run=[]
for x in range(2001,2025):
    loop_df=all_trans_window(x)
    all_trans_df=pd.concat([all_trans_df,loop_df],ignore_index=True)
    year_run.append(x)

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
all_trans_df

,Player,Age,Club_Left,League_Left,Club_Joined,League_Joined,Transfer_Fee,Transfer_Window,Performance_Year
0,Luís Figo,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,"60,00 Mio. €",2000,1999
1,Hernán Crespo,25,AC Parma,Serie A,Lazio Rom,Serie A,"56,81 Mio. €",2000,1999
2,Gabriel Batistuta,31,AC Florenz,Serie A,AS Rom,Serie A,"36,15 Mio. €",2000,1999
3,Nicolas Anelka,21,Real Madrid,LaLiga,FC Paris Saint-Germain,Division 1,"34,50 Mio. €",2000,1999
4,Rio Ferdinand,22,West Ham United,Premier League,Leeds United,Premier League,"26,00 Mio. €",2000,1999
...,...,...,...,...,...,...,...,...,...
45447,Lasso Coulibaly,21,FC Nordsjaelland,Superliga,AJ Auxerre,Ligue 1,"2,00 Mio. €",2024,2023
45448,Amath Ndiaye,27,RCD Mallorca,LaLiga,Real Valladolid,LaLiga,"2,00 Mio. €",2024,2023
45449,Fisayo Dele-Bashiru,23,Hatayspor,Süper Lig,Lazio Rom,Serie A,"Leihgebühr:2,00 Mio. €",2024,2023
45450,Jesper Karlström,29,Lech Posen,Ekstraklasa,Udinese Calcio,Serie A,"2,00 Mio. €",2024,2023
45451,Rui Modesto,24,AIK,Allsvenskan,Udinese Calcio,Serie A,"2,00 Mio. €",2024,2023

In [5]:
def trans_value(x):
    x=str(x)
    if 'Mio' in x and not 'Leihgebühr:' in x and 'Leihe' not in x:
        return int(float(x.split(' ')[0].replace(',','.'))*1000000)
        #return int(float(phase1_mio.split(':')[1].replace(',','.'))*1000000)
    elif 'Tsd' in x and not 'Leihgebühr:' in x and 'Leihe' not in x:
        return int(float(x.split(' ')[0].replace(',','.'))*1000)
    else:
        return 0

In [6]:
all_trans_df['Transfer_Fee']=all_trans_df['Transfer_Fee'].apply(trans_value)

In [7]:
all_trans_df.head()

,Player,Age,Club_Left,League_Left,Club_Joined,League_Joined,Transfer_Fee,Transfer_Window,Performance_Year
0,Luís Figo,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,60000000,2000,1999
1,Hernán Crespo,25,AC Parma,Serie A,Lazio Rom,Serie A,56810000,2000,1999
2,Gabriel Batistuta,31,AC Florenz,Serie A,AS Rom,Serie A,36150000,2000,1999
3,Nicolas Anelka,21,Real Madrid,LaLiga,FC Paris Saint-Germain,Division 1,34500000,2000,1999
4,Rio Ferdinand,22,West Ham United,Premier League,Leeds United,Premier League,26000000,2000,1999

In [8]:
all_trans_df.to_csv('All_Trans_2000_2025.csv')

Next, we will run the webscrapper for for the player stats.